name: Validate

on:
  push:
    branches:
      - main
  pull_request:
  #schedule:
  #  - cron: '0 12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Validate configuration
        run: |
          npx --yes --package renovate -- \
            renovate-config-validator --strict config.json5
